---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$s: "only screen and (max-width : 779px)";
$l: "only screen and (min-width : 780px)";
$background-color: #ffffff;
$text-color: #212121;
$sub-text-color: #757575;
$border-color: #efefef;
$tint-color: #a36334;

$timeline-icon: #707070;
$timeline-indicator: #BDBDBD;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "everything";
