---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$s: "only screen and (max-width : 779px)";
$l: "only screen and (min-width : 780px)";
$background-color: #ffffff;
$title-color: #212121;
$text-color: #3a3a3c;
$sub-text-color: #757575;
$border-color: #cecece;
$hover-bg-color: #ececec;
$tint-color: rgb(0, 122, 255);

// Import partials from `sass_dir` (defaults to `_sass`)
@import "everything";
