---
layout: default
---

<link rel="stylesheet" href="{{ "/lib/css/cal-heatmap.css" | relative_url }}">
<script src={{"/lib/js/d3.min.js" | relative_url }}></script>
<script src={{"/lib/js/cal-heatmap.min.js" | relative_url }}></script>

<div class="heatmap-buttons">
    <button id="heatmap-prev">Prev year</button>
    <button id="heatmap-next">Next year</button>
</div>
<div id="heatmap"></div>

<script type="text/javascript">
    var data = {
        {% for post in site.posts %}{% unless post.hidden %}"{{ post.date }}": 1,
        {% endunless %}{% endfor %}
        };
	var cal = new CalHeatMap();
	cal.init({
        itemSelector: "#heatmap",
        start: new Date(),
        range: 6,
        previousSelector: "#heatmap-prev",
        nextSelector: "#heatmap-next",
        cellSize: 9,
        rowLimit: 12,
        domain: "year",
        subDomain: "day",
        data: data,
        // Convert to {[timestamp]: number}
        afterLoadData(data) {
            var parsed = {};
            for (var d in data) {
                var key = new Date(d).getTime() / 1000;
                parsed[key] = 1;
            }
            return parsed;
        },
        onClick(data) {
            var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            let key = new Date(data).getTime() / 1000;
            var url = location.href;               // Save down the URL without hash.
            location.href = "#"+key;
            history.replaceState(null,null,url); // reset URL without #id
        }
    });
</script>

{% for post in site.posts %}
{% unless post.hidden %}
{% capture current_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% if current_year != previous_year %}
<div class="title-item-year">{{ current_year }}</div>
{% assign previous_year = current_year %}
{% endif %}
{% include post_list_title_slim.html post=post %}
{% endunless %}
{% endfor %}

