<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">
  <meta name="google-site-verification" content="swC0dIMoYNPxKp6izWvKmEPF3KV72sYczXF0jaYf2mQ" />

  <title>
    {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title |
      escape }}{% endif %}
  </title>
  <meta name="description" content="A secret place" />

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
</head>