<!-- Layout for post title in a timeline -->
<div class="timeline-post-row">
    <div class="title-row">
        <div class="title-indicator">
            <i data-feather="{% if include.post.icon %}{{ include.post.icon }}{% else %}plus{% endif %}"></i>
        </div>
        <a class=" title-link" href="{{ include.post.url | relative_url }}">{{include.post.title}}
        </a>
    </div>
    <div class="meta-row">
        <div class="meta-indicator">
            <div class="line"></div>
        </div>
        <div class="meta">
            <div class="date">{{include.post.date | date: "%Y-%m-%d"}}</div>
        </div>
    </div>
</div>