@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/kaushan.woff') format('woff');
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
    margin: 0;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'PingFang SC', 'Hiragino Sans GB', 'PingHei', 'Open Sans', sans-serif, Helvetica Neue, 'Work Sans', 'Microsoft YaHei', SimSun;
    font-size: 13px;
    width: 100%;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: $background-color;
}

.mobile-hidden {
    @media (max-width: 500px) {
        display: none;
    }
}

.logo {
    font-family: 'Kaushan Script';
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 15px;
    a {
        color: #333333;
        text-decoration: none;
    }
}

.journal {
    width: 100%;
    height: 100%;
    display: flex;

    .close-post {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
    }

    .side-bar {
        transition: all 0.3s;
        height: 100%;
        flex: 1;
        display: flex;
    }

    .main-part {
        transition: all 0.3s;
        flex: 2;
        height: 100%;
    }

    .year-list {
        flex: 2;
        height: 100%;
        overflow-y: scroll;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .year-title {
        padding: 15px;
        transition: all 0.3s;
        &:hover,
        &.active {
            padding-left: 20px;
        }
        &.active {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    .title-list {
        flex: 3;
        height: 100%;
        overflow-y: scroll;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .post-title {
        padding: 15px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        &:hover,
        &.active {
            padding-left: 20px;
        }
        &.active {
            background-color: rgba(0, 0, 0, 0.05);
        }
        .date-text {
            color: rgba(0,0,0,0.3);
        }
        .title-text {

        }
    }

    article {
        height: 100%;
        overflow-y: scroll;
        padding: 30px;
        font-size: 14px;
        position: relative;

        .post-content {
            line-height: 1.6;
        }
    }
}

.hidden {
    display: none !important;
}
