@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/kaushan.woff') format('woff');
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html {
    margin: 0;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'PingFang SC', 'Hiragino Sans GB', 'PingHei', 'Open Sans', sans-serif, Helvetica Neue, 'Work Sans', 'Microsoft YaHei', SimSun;
    font-size: 13px;
    width: 100%;
    background: white;
    font-size: 1.3rem;
    letter-spacing: 1px;
    &.block {
        background: white;
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

header {
    font-family: 'Kaushan Script';
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;;
    a {
        color: #333333;
        text-decoration: none;
    }
    @media #{$s} {
        width: 100%;
        height: 100px;
        font-size: 2rem;
        padding: 0 20px;
    }
    @media #{$l} {
        width: 780px;
        height: 150px;
        margin-top: 60px;
        font-size: 2.6rem;
        padding: 0 40px;
    }
}

section {
    background-color: #FFFFFF;
    margin: 0 auto;
    @media #{$s} {
        width: 100%;
    }
    @media #{$l} {
        width: 780px;
    }
    overflow: hidden;
}

section.hero {
    background-color: #FFFFFF;
    margin: 0 auto;
    @media #{$s} {
        width: 100%;
    }
    @media #{$l} {
        width: 780px;
    }
    img {
        max-width: 100%;
    }
}

section.post {
    @media #{$s} {
        padding: 0 20px;
    }
    @media #{$l} {
        padding: 0 40px;
    }
}

section.post-list {
    @media #{$s} {
        padding: 0 20px;
    }
    @media #{$l} {
        padding: 0 40px;
    }
    article {
        
    }
}

article {
    h1 {
        margin: 0;
        padding-top: 60px;
        margin-bottom: 30px;
        font-weight: normal;
        a {
            color: #1F1F1F;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .date {
        margin: 0 0 60px 0;
        color: #bbbbbb;
    }
    .excerpt {
        margin: 0 0 20px 0;
        color: #666;
        line-height: 2.4;
    }
    .content {
        p {
            color: #666;
            line-height: 2.4;
            margin: 0 0 20px;
        }
        hr {
            border: none;
            height: 1px;
            background: #eee;
            margin: 50px 30%;
        }
        ol,
        ul {
            margin: 10px 0;
            padding: 10px 20px;
        }
        ol li {
            list-style-type: decimal;
        }
        ul li {
            list-style-type: square;
        }
        strong {
            font-weight: bold;
            color: #000;
            background: #eee;
            border-radius: 3px;
            padding: 0 2px;
        }
    }
}


nav {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: block;
        width: 40px;
        height: 40px;
        color: #AAAAAA;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        &:hover {
            color: #000;
        }
    }
    span {
        width: 80px;
    }
}

footer {
    height: 100px;
}

.tracker {
    visibility: hidden;
}

.enter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-family: 'Kaushan Script';
        color: #333333;
        text-decoration: none;
        font-size: 2rem;
    }
}