<!DOCTYPE html>
<html lang="zh-cn">
{% include head.html %}

<body>
    {{ content }}
    <div class="tracker">
        <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
            var sc_project = 10483303;
            var sc_invisible = 1;
            var sc_security = "aa145d22";
        </script>
        <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
        <noscript>
            <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
                        class="statcounter" src="https://c.statcounter.com/10483303/0/aa145d22/1/"
                        alt="Web Analytics"></a></div>
        </noscript>
        <!-- End of Statcounter Code -->
    </div>

    <script src={{"/js/main.js" | relative_url }}></script>
</body>

</html>