<!DOCTYPE html>
<html lang="zh-cn">
{% include head.html %}

<body>

    {{ content }}
    <div class="tracker">	
    <!-- Start of StatCounter Code for Default Guide -->	
    <script type="text/javascript">	
    var sc_project=10483303; 	
    var sc_invisible=1; 	
    var sc_security="aa145d22"; 	
    var scJsHost = (("https:" == document.location.protocol) ?	
    "https://secure." : "http://www.");	
    document.write("<sc"+"ript type='text/javascript' src='" +	
    scJsHost+	
    "statcounter.com/counter/counter.js'></"+"script>");	
    </script>	
    <noscript><div class="statcounter"><a title="shopify	
    analytics ecommerce tracking"	
    href="http://statcounter.com/shopify/" target="_blank"><img	
    class="statcounter"	
    src="//c.statcounter.com/10483303/0/aa145d22/1/"	
    alt="shopify analytics ecommerce	
    tracking"></a></div></noscript>	
    <!-- End of StatCounter Code for Default Guide -->	
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/sha1.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
