---
layout: base
---

<div class="menu-bar">
    <!-- <div class="leading">
        <a href={{ "/" | relative_url }} class="logo">
            <img src="{{ "/assets/watercolor_logo.png" | relative_url }}"/>
        </a>
    </div> -->
    <div class="trailing">
        <a href="/" class="{% if page.url == '/' %}active{% endif %}">{{ site.title }}</a>
        <a href="/archive"class="{% if page.url == '/archive/' %}active{% endif %}">归档</a>
    </div>
</div>

<div class="content">
    {{content}}
</div>