---
layout: default
---

<h1>{{page.title}}</h1>
<p class="date">{{page.date | date: "%b %-d, %Y"}}</p>

<article>
  {{page.content}}
</article>

<!-- <hr> -->

<!-- <section class="comments"></section>
<section class="comment-actions">
  <input type="text" class="comment-input-name" placeholder="名字"/>
  <input tpye="text" class="comment-input-content" placeholder="内容"/>
  <button class="comment-button" onclick="makeComment();">留言</button>
</section> -->

<div class="end">
{% if page.previous.url %}
  <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
{% endif %}
<a href="/">返回</a>
{% if page.next.url %}
  <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
{% endif %}
</div>
