---
layout: default
---

{% include post_title.html post=page linkable=false %}

<article>
  {% unless page.hidden %}
    {{page.content}}
  {% endunless %}
</article>

<hr>

<div class="end">
{% if page.previous.url %}
  <a href="{{ page.previous.url | relative_url }}">&laquo; {{page.previous.title}}</a>
{% endif %}
<a href={{ "/" | relative_url }}>返回</a>
{% if page.next.url %}
  <a href="{{ page.next.url | relative_url }}">{{page.next.title}} &raquo;</a>
{% endif %}
</div>

<button onclick="showDisqus();return false;" id="show-disqus">打开评论</button>

<div id="disqus_thread">
  <a></a>
</div>
<script>
var disqus_config = function () {
this.page.url = "{{ page.url | absolute_url }}";
this.page.identifier = "{{ page.url }}";
};
</script>
                          